* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  background: url(../img/WhatsApp\ Image\ 2021-07-07\ at\ 11.13.51\ AM.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.counter {
  box-shadow: 3px 8px 12px 0.8px rgba(0 0 0 0.2);
  border: 2px solid #fff;
  width: 70%;
  margin: 50% auto;
  height: 350px;
  padding: 30px;
  max-width: 300px;
}

.counter-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 2rem;
}

h2 {
  font-size: 7rem;
  color: green;
}

.btn-1,
.btn-2 {
  cursor: pointer;
  background: rgb(5, 5, 83);
  color: #fff;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  margin-top: 1rem;
  font-family: "Raleway";
  outline: none;
}

.btn-1:hover {
  color: green;
}

.btn-2:hover {
  color: green;
}

@media screen and (min-width: 600px) {
  .counter {
    margin: 10% auto;
  }
}
